* {
  font-family: sans-serif;
}

.main-header {
  text-align: center;
}

.grid-container {
  height: 30rem;
  width: 30rem;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.grid-cell {
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
}
