* {
  font-family: sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.main-header {
  text-align: center;
}

.grid-size-btn {
  width: 7rem;
  height: 3rem;
}

.grid-container {
  height: 30rem;
  width: 30rem;
  border: 1px solid gray;
  display: grid;
}

.grid-cell {
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
}
