* {
  font-family: sans-serif;
}

.main-header {
  text-align: center;
}

/* TODO: make the cells fit in a symmetrical grid */
.grid-container {
  height: 30rem;
  width: 30rem;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  border: 1px solid blue;
  height: 1rem;
  width: 1rem;
}
